<?xml version="1.0" encoding="UTF-8"?>
<!--
  #%L
  Reference Site Core
  %%
  Copyright (C) 2009 - 2016 Broadleaf Commerce
  %%
  Licensed under the Broadleaf Fair Use License Agreement, Version 1.0
  (the "Fair Use License" located  at http://license.broadleafcommerce.org/fair_use_license-1.0.txt)
  unless the restrictions on use therein are violated and require payment to Broadleaf in which case
  the Broadleaf End User License Agreement (EULA), Version 1.1
  (the "Commercial License" located at http://license.broadleafcommerce.org/commercial_license-1.1.txt)
  shall apply.

  Alternatively, the Commercial License may be replaced with a mutually agreed upon license (the "Custom License")
  between you and Broadleaf Commerce. You may not use this file except in compliance with the applicable license.
  #L%
  -->

<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}/}audit.log}"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <include resource="org/springframework/boot/logging/logback/file-appender.xml" />
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>

    <logger name="org.springframework.boot.context.embedded.tomcat.TomcatEmbeddedServletContainer" level="INFO"/>
    <logger name="org.springframework.boot.SpringApplication" level="INFO"/>
    <logger name="org.hibernate.cache.ehcache.internal.strategy.AbstractReadWriteEhcacheAccessStrategy" level="ERROR"/>
    <logger name="ae.shari" level="info"/>

</configuration>